{%- macro render_form(form) %}
        {{ form.hidden_tag() }}
{%- for field in form %}
    {%- if field.errors and field.type != 'HiddenField' and field.type != 'CSRFTokenField' %}
        <dt class="error">{{ field.label }} <span>- {% for error in field.errors %}{{ error }} {% endfor %}</span></dt>
        <dl class="error">{{ field }}</dl>
    {%- elif field.type != 'HiddenField' and field.type != 'CSRFTokenField' %}
        <dt>{{ field.label }}</dt>
        <dl>{{ field }}</dl>
    {%- endif %}
{%- endfor %}
{%- endmacro %}