{% extends "layout.html" %}
{% block title %}Locations{% endblock %}
{% block body %}
<div class="wrap">
    <h3>
        <a class="unconference" href="{{ url_for('unconference.index', unconference=unconference.id) }}"><img src="/static/images/one-team-logo.svg"></a>
        <span class="title">Select Location</span>
    </h3>
    <ul class="locations">
        {% for location in unconference.locations|sort(attribute='name') %}
        <li>
            <a href="{{ url_for('unconference.locations', unconference=unconference.id, location=location.id) }}">
                {{location.name}}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{%- endblock %}