{% extends "layout.html" %}
{% block title %}Locations{% endblock %}
{% block body %}
<div class="wrap">
    <h3>
        <a href="{{ url_for('unconference.index', unconference=unconference.id) }}">{{ unconference.name }}</a> - 
        <a href="{{ url_for('unconference.locations', unconference=unconference.id) }}">{{ location.name}}</a> - 
        Sessions:
    </h3>
    <ul>
        {% for session in location.sessions %}
        <li>
            <a href="{{ url_for('sessions.check_in', unconference=unconference.id, session=session.id) }}">
                {{ session.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{%- endblock %}