{% extends "layout.html" %}
{% block title %}Session Attendees{% endblock %}
{% block body %}
<div class="wrap">
    <h3>
        <a class="unconference" href="{{ url_for('unconference.index', unconference=unconference.id) }}"><img src="/static/images/one-team-logo.svg"></a>
        <span class="title">Attendees</span>
    </h3>
    <ul>
        {% for attendee in unconference.attendees %}
        <li>
            {{ attendee.user.name }} &lt;{{ attendee.user.email}}&gt;
        </li>
        {% endfor %}
    </ul>
    <h4>Bulk Add Attendees</h4>
    {%- from "_formhelper.html" import render_form %}
    <form action="{{ url_for('unconference.attendees', unconference=unconference.id,) }}" method="post" enctype="multipart/form-data" name="UploadAttendeesForm" id="UploadAttendeesForm">
        {{- render_form(form) }}
        <dt><input type="submit" value="Upload"></dt>
    </form>
</div>
{%- endblock %}