# Cache Files
*.py[cod]
__pycache__
.webassets-cache
.sass-cache
.pytest_cache

# Editor Files
.vscode

# Environment files
.env
env

# Log Files
pip-log.txt

# Database Files
dev.db

# Automatically-built Assets
packed.js
style.css
webassets-external