[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
itsdangerous = "==0.24"
click = ">=5.0"
"psycopg2" = "==2.7.4"
gunicorn = ">=19.1.1"
Flask = "==1.0.2"
MarkupSafe = "==1.0"
Werkzeug = "==0.14.1"
"Jinja2" = "==2.10"
SQLAlchemy = "==1.2.7"
Flask-Migrate = "==2.1.1"
Flask-WTF = "==0.14.2"
WTForms = "==2.1"
Flask-Webpack = "==0.1.0"
Flask-Login = "==0.4.1"
Flask-Bcrypt = "==0.7.1"
Flask-Caching = ">=1.0.0"
Flask-DebugToolbar = "==0.10.1"
Flask-SQLAlchemy = "==2.3.2"

[dev-packages]
pytest = "==3.6.0"
"flake8" = "==3.5.0"
"flake8-blind-except" = "==0.1.1"
"flake8-debugger" = "==3.1.0"
"flake8-docstrings" = "==1.1.0"
"flake8-isort" = "==2.5"
"flake8-quotes" = "==1.0.0"
isort = "==4.3.4"
"pep8-naming" = "==0.7.0"
WebTest = "==2.0.29"
factory_boy = "==2.11.1"
python-dotenv = "*"

[requires]
python_version = "3.6"
