[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
WebTest = "*"
click = "*"
python-dotenv = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-wtf = "*"
flask-assets = "*"
gunicorn = "*"
jsmin = "*"
libsass = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.6"
