body {
  font-family: 'Source Sans Pro', sans-serif; 
  margin: 0;
  line-height: 1.4;
  font-size: 14px;
}

a {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.selectize-dropdown {
  & [data-selectable] {
    padding: 5px 8px;
  }
  .email {
    font-size: 12px;
    display: block;
    opacity: 0.5;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.wrap {
  padding: 10px 25px;
}